<div class="workshops-list">
  <div class="text-center row container-fluid">
    <div class="workshops-list__calendar-container col-lg-9 col-sm-12">
      <div class="workshops-list__calendar-container__calendar text-center">
        <mwl-calendar-month-view
          class="workshops-list__calendar"
          [viewDate]="viewDate"
          [events]="events"
          (dayClicked)="dayClicked($event.day)">
        </mwl-calendar-month-view>
      </div>
    </div>
  </div>
  <div class="workshops-list__events">
    <h1 class="workshops-list__events__header">Previous Workshops</h1>
    <div class="workshops-list__events__list">
      <div class="workshops-list__events__item" *ngFor="let event of events">
        <h2>{{ event.title }}</h2>
        <p>{{ event.description }}</p>
    <div class="workshops-list__events col-lg-3 col-sm-12\">
      <div class="workshops-list__events__list">
        <h1>Workshops</h1>
        <p>Workshop 1</p>
        <p>Workshop 2</p>
        <p>Workshop 3</p>
        <p>Workshop 4</p>
        <p>Workshop 5</p>
      </div>
    </div>
  </div>
  
</div>
