<div class="workshops-list">
  <div class="workshops-list__calendar-container">
    <div class="workshops-list__calendar-container__calendar">
      <mwl-calendar-month-view
        class="workshops-list__calendar"
        [viewDate]="viewDate"
        [events]="events"
        (dayClicked)="dayClicked($event.day)">
      </mwl-calendar-month-view>
    </div>
  </div>
  <div class="workshops-list__events">
    <h1 class="workshops-list__events__header">Previous Workshops</h1>
    <div class="workshops-list__events__list">
      <div class="workshops-list__events__item" *ngFor="let event of events">
        <h2>{{ event.title }}</h2>
        <p>{{ event.description }}</p>
      </div>
    </div>
  </div>
</div>
