@import  '../../../styles';
@import '../../../mixins';

.workshops-list {
  background-color: $background-grey;
  height: 100vh;
  width: 100%;
  display: flex;

  &__calendar-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    @include phone {
      background-color: red;
    }
  }

  &__events {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    &__list {
      color: white;
    }
  }
}
