<div class="workshops-list">
  <div class="workshops-list__calendar-container">
    <div class="workshops-list__calendar-container__calendar">
      <mwl-calendar-month-view
        class="workshops-list__calendar"
        [viewDate]="viewDate"
        [events]="events"
        (dayClicked)="dayClicked($event.day)">
      </mwl-calendar-month-view>
    </div>
  </div>
  <div class="workshops-list__events">
    <div class="workshops-list__events__list">
      <h1>Workshops</h1>
      <p>Workshop 1</p>
      <p>Workshop 2</p>
      <p>Workshop 3</p>
      <p>Workshop 4</p>
      <p>Workshop 5</p>
    </div>
  </div>
</div>
