@import  '../../../styles';
@import '../../../mixins';

.workshops {
  height: 100vh;
  min-height: 60rem;
  display: flex;
  align-items: center;

  @include half-desktop {
    flex-direction: column;
    height: 120rem;
  }

  &__calendar {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__events {
    display: flex;
    flex-direction: column;
    height: 95vh;
    min-height: 55rem;
    width: 85%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;

    @include half-desktop {
      margin-top: 0;
    }

    &__header {
      @include half-desktop {
        margin-bottom: 2rem;
      }
    }

    &__items {
      height: 85vh;
      min-height: 50rem;
      overflow-y: scroll;

      &__item {
        text-align: center;

        &__header {
          margin-top: 1rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

}

