.social-links {
	color: white;

	&__content {
		color: white;
	}

	div a {
		color: white;
		padding-right: 35px;
		padding-left: 35px;
		cursor: pointer;
	}

	.fa-github:hover {
		color: grey;
	}

	.fa-facebook-square:hover {
		color: grey;
	}

	.fa-twitter:hover {
		color: grey;
	}

	.fa-slack:hover {
		color: grey;
	}
}