<div class="social-links">
  <h1>Check us out on Social Media!</h1><br>
  <div class="social-links__content">
    <div>
      <a title="GitHub" href="https://github.com/KnightHacks"><i class="fab fa-github fa-4x"></i></a>
    </div>
    <div>
      <a title="Facebook" href="https://www.facebook.com/TechKnightsUCF/"><i class="fab fa-facebook-square fa-4x"></i></a>
    </div>
    <div>
      <a title="Twitter" href="https://twitter.com/TechKnights_UCF?lang=en"><i class="fab fa-twitter fa-4x"></i></a>
    </div>
    <div>
      <a title="Slack" href="https://hackersofucf.slack.com/"><i class="fab fa-slack fa-4x"></i></a>
    </div>
  </div>
</div>
