@import '../../../styles';

.background-art {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.email-signup-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 35%;

    &__form {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__field {
        width: 85%;
        align-self: flex-start;
        color: $off-white;
      }

      &__submit {
        align-self: center;
      }

    }

    &__header {
      color: $off-white;
      margin-bottom: 1rem;
    }

  }
}

.mat-button.mat-primary {
  background-color: #81368B;
}

.form {
  width: 100%;
}
