@import '../../../styles';

.background-art {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.email-signup-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    color: $subtitle-off-white;
  }

  &__content-container {
    color: black;
  }

  .mat-button.mat-primary {
    background-color: #81368B;
  }
}

