@import '../../../styles';

.background-art {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.splash-page {
  display: flex;
  height: 100vh;
  width: 100%;
  //background-image: url("../../../assets/some-art.jpg");
  justify-content: center;

  &__subtitle {
    color: $off-white;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__logo-container {
      height: 5rem;
      justify-self: center;
      align-self: center;
      align-content: center;
      margin-bottom: 0.5rem;

      img {
        height: 100%;
      }
    }
  }
}
